<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-MVC_Pratice-20170927044010.mdf;Initial Catalog=aspnet-MVC_Pratice-20170927044010;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="MyBankDB" connectionString="data source=vs2015db.csoldjtehmrm.us-east-2.rds.amazonaws.com;initial catalog=dbMyBank;persist security info=True;user id=sgourav;password=vaanya!04;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>